{% extends 'base.html' %}

{% block title %}Contacte{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">

        <h1>1</h1>
        <h1>Welcome to the Contact Page</h1>
        <p>This is the home page of the project.</p>


        <h6>We have the following apps in this website and these are:</h6>
        <ul class="left-justified-list">
            <li><a href="{% url 'clientdataentry' %}">Client Data Entry</a></li>
            <li>Email</li>
    </div>
</div>
{% endblock %}